.home-container {
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 19px;
}

.grid-container {
  grid-gap: 1.3rem;
  display: grid;
  gap: 1.3rem;
  grid-template-areas:
    'one two four  '
    'one two four-low';
  grid-template-columns: 2fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 31rem;
  margin-top: 1.3rem;
}

.featured {
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.lil-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transition: all 0.3s ease-in;
  width: 100%;
}

.featured img {
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
}

.lil-overlay:hover {
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.grid-one {
  grid-area: one;
}

.grid-two {
  grid-area: two;
}

.grid-three {
  grid-area: four;
}

.grid-four {
  grid-area: four-low;
}

.main-description {
  bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
  left: 2rem;
  position: absolute;
}

@media (max-width: 750px) {
  .grid-container {
    grid-gap: 13px;
    display: grid;
    gap: 13px;
    grid-template-areas:
      'one  two   '
      'four four-low';
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 500px;
  }
}
